:root {
  --max-width: 960px;
  --max-height: 100vh;

  /* light mode colors */
  --background-color: #f5f7fa;
  --header-background-color: 245, 247, 250;
  --primary-color: #323f4b;
  --secondary-color: #323f4b;
  --secondary-color-light: #323f4b;
  --tertiary-color: #323f4b;
  --text-color: #1f2933;
  --default-color: #323f4b;
  --nav-link-color: #616e7c;
  --nav-link-color-hover: #1f2933;
  --footer-background-color: #181818;
  --hamburger-menu-color: #181818;
  --blockquote-background: #cbd2d9;
  --blockquote-bar-color: #7b8794;
  --blockquote-text-color: #323f4b;
  --link-color: #127fbf;
  --link-hover-color: #2bb0ed;
  --link-underline-color: #2bb0ed;
  --pagination-link-color: #e4e7eb;

  /* shared colors */
  --default-pill-color: hsl(168, 80%, 23%);
  --default-pill-color-hover: hsl(168, 80%, 28%);
  --default-pill-text-color: #f5f7fa;
  --footer-text-color: #f5f7fa;
  --footer-homepage-link-color: #f5f7fa;
  --footer-nav-link-color: #f5f7fa;
}

html {
  font-size: 112.5%;
  box-sizing: border-box;
  overflow-y: scroll;

  font-family: 'Nunito', sans-serif;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark mode colors */
    --background-color: #1f2933;
    --header-background-color: 50, 63, 75;
    --primary-color: #b3ecff;
    --secondary-color: #da127d;
    --secondary-color-light: #e8368f;
    --tertiary-color: #fce588;
    --default-color: #f5f7fa;
    --text-color: #f5f7fa;
    --nav-link-color: #cbd2d0;
    --nav-link-color-hover: #f5f7fa;
    --footer-background-color: #101419;
    --hamburger-menu-color: #f5f7fa;
    --blockquote-background: #323f4b;
    --blockquote-bar-color: #181e25;
    --blockquote-text-color: #f5f7fa;
    --link-color: #2bb0ed;
    --link-hover-color: #53d0fa;
    --link-underline-color: #53d0fa;
    --pagination-link-color: #3e4c59;
  }
}
