.aboutMe {
  float: right;
  margin: 0 0 1rem 1rem;
}

// .aboutMe::after {
//   content: '';
//   clear: both;
//   display: table;
// }

@media (max-width: 570px) {
  .aboutMe {
    float: initial;
    margin: 0 auto 1rem auto;
  }
}
