.typography {
  font-weight: normal;
  margin: 0;
  text-decoration: none;

  line-height: 1.4;
  font-family: 'Nunito', sans-serif;
  color: var(--text-color);
}

.xl {
  font-size: 2rem;
}

.l {
  font-size: 1.7rem;
}

.m {
  font-size: 1.3rem;
}

.s {
  font-size: 1rem;
}

.xs {
  font-size: 0.9rem;
}

.xxs {
  font-size: 0.8rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.underlineStrikethrough {
  text-decoration: underline line-through;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  color: var(--heading-color);
  font-weight: 800;
  margin: 1rem 0 0.5rem 0;

  &:first-child {
    margin-top: 0;
  }
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.anchor {
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
  color: var(--link-color);

  &:visited {
    color: var(--link-color);
  }

  &:hover {
    color: var(--link-hover-color);
  }
}

.subHeading {
  margin-top: -0.8rem;
  margin-bottom: 0.5rem;
}
