.cardWrapper {
  cursor: pointer;
  margin-bottom: 1rem;
}

.articleLink {
  text-decoration: none;
}

.articleItem {
  margin: 1rem 0;
  text-decoration: none;
  transition: transform 0.1s ease-in-out;

  &:first-child {
    margin-top: 0;
  }
}

.articleItem:hover {
  transform: scale(1.008);
  transition: transform 0.1s ease-in-out;

  .arrowRight {
    opacity: 1;
    transform: translateX(0.15rem);
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  }
}

.firstRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.lastRow {
  flex: 1;
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.readMoreLink {
  color: var(--nav-link-color);
  transition: transform 0.1s ease-in-out;
  display: flex;
  align-items: center;

  &:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
    color: var(--nav-link-color-hover);
  }
}

.arrowRight {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  opacity: 0;
  transform: translateX(-0.5rem);
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;

  &::after,
  &::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px;
  }

  &::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 7px;
  }

  &::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor;
  }
}
