.cardWrapper {
  cursor: pointer;
}

.articleLink {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.articleItem {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  transition: transform 0.1s ease-in-out;
}

.articleItem:hover {
  transform: scale(1.008);
  transition: transform 0.1s ease-in-out;
  border-color: rgba(0, 0, 0, 1);
}

.firstRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pillWrapper {
  flex: 1;
  margin-left: 1rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: flex-end;
}

.pillLink {
  text-decoration: none;
}

.pill {
  position: relative;
  margin-left: 0.5rem;
}
