@import '../styles/shadows';

.headerWrapper {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  background-color: rgba(var(--header-background-color), 0);
}

.headerWrapperScroll {
  @include shadow-2;
  transition: all 0.2s ease-in-out;
  background-color: rgba(var(--header-background-color), 1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 1.45rem 1.0875rem;
  transition: padding 0.2s ease-in-out;

  h1 {
    margin: 0;
  }
}

.headerScroll {
  padding: 0.8rem 1.0875rem;
  transition: padding 0.2s ease-in-out;
}

.headerTitle {
  text-decoration: none;
}

.themeToggleAndNav {
  display: flex;
  align-items: center;
}
