.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: var(--max-height);
  align-items: center;
}

.layout {
  max-width: var(--max-width);
  padding: 100px 1.0875rem 1.45rem;
  flex: 1;
  width: 100%;
}
