.paginationLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.onlyNextLinkPaginationLinks {
  justify-content: flex-end;
}

.linkContainer {
  width: 400px;
}

.prevLinkContainer {
  margin-right: 1rem;
}

.nextLinkContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;
}

.link {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  display: flex;
  align-items: center;

  &:hover {
    color: black;
    transform: scale(1.01);
  }
}

.arrowRight,
.arrowLeft {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  border: 4px solid;
  border-radius: 20px;
  flex-shrink: 0;
}

.arrowRight {
  margin-left: 0.5rem;
}

.arrowLeft {
  margin-right: 0.5rem;
}

.arrowRight::after,
.arrowRight::before,
.arrowLeft::after,
.arrowLeft::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.arrowRight::after,
.arrowRight::before {
  right: 3px;
}

.arrowLeft::after,
.arrowLeft::before {
  left: 3px;
}

.arrowRight::after,
.arrowLeft::after {
  width: 8px;
  height: 8px;
  border-top: 3px solid;
  border-right: 3px solid;
  bottom: 6px;
}

.arrowRight::after {
  transform: rotate(45deg);
}

.arrowLeft::after {
  transform: rotate(225deg);
}

.arrowRight::before,
.arrowLeft::before {
  width: 14px;
  height: 4px;
  bottom: 8px;
  background: currentColor;
}
