$react-pill-color: #000000cc;
$javascript-pill-color: gold;
$black-pill-color: black;

.pill {
  padding: 0.1rem 1rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.pillBlack {
  background-color: $black-pill-color;
  color: white;
}

.pillBlack:hover {
  background-color: lighten($color: $black-pill-color, $amount: 15);
}

.pillReact {
  background-color: $react-pill-color;
  color: aqua;
}

.pillReact:hover {
  background-color: lighten($color: $react-pill-color, $amount: 15);
}

.pillYellow {
  background-color: $javascript-pill-color;
  color: black;
}

.pillYellow:hover {
  background-color: lighten($color: $javascript-pill-color, $amount: 15);
}
