$react-pill-color: #000000cc;
$javascript-pill-color: gold;
$typescript-pill-color: hsl(210, 57%, 49%);

.pill {
  padding: 0.1rem 1rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  width: fit-content;
}

.pillBlack {
  background-color: var(--default-pill-color);
  color: var(--default-pill-text-color);
}

.pillBlack:hover {
  background-color: var(--default-pill-color-hover);
}

.pillReact {
  background-color: $react-pill-color;
  color: aqua;
}

.pillReact:hover {
  background-color: lighten($color: $react-pill-color, $amount: 15);
}

.pillYellow {
  background-color: $javascript-pill-color;
  color: black;
}

.pillYellow:hover {
  background-color: lighten($color: $javascript-pill-color, $amount: 15);
}

.pillTypescript {
  background-color: $typescript-pill-color;
  color: white;
}

.pillTypescript:hover {
  background-color: lighten($color: $typescript-pill-color, $amount: 15);
}
